* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    user-select: none;
}

.transition { transition: all .2s }
.btn-attr {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

body {
    --header-shadow-color: #4441;

    header {
        position: fixed;
        width: 100%;
        color: #fff;
        background: #242424;
        height: 50px;
        padding: 10px;
        top: 0;
        box-shadow: 0 5px 10px var(--header-shadow-color);
        z-index: 1e8;

        .logo {
            cursor: default;

            h2 {
                font-family: 1.5rem;
                font-weight: 500;
            }
        }

        nav {
            list-style: none;
            gap: 2px;

            li {
                color: #eee;
                padding: 5px 7px;
                text-transform: capitalize;

                a {
                    color: inherit;
                    cursor: pointer;
                    text-decoration-color: transparent;

                    &:hover, &:focus { text-decoration-color: initial }
                }
            }

            .selected {
                background: #4a4a4a;
                border-radius: 3px;
            }
        }

        .lightmode {
            color: #eee;
            font-size: 1.3rem;
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 3px;
            background: #4a4a4a;
            opacity: 1;

            &:hover, &:focus { opacity: 75% }
        }
    }

    main {
        .fix { height: 50px }

        section { z-index: 1 }

        .subtitle {
            position: relative;
            height: 10vh;
            min-height: 50px;
            max-height: 100px;
            text-align: center;
            background: #222;
            font-size: 2rem;
            color: #eee;
            box-shadow: 0 0 10px 4px var(--header-shadow-color);
            z-index: 2;
        }

        section#presentation {
            width: 100%;
            height: calc(90vh - 50px);
            color: #fff;
            background: #333;
            gap: 1em;

            h1 {
                --shadow-color: #fff4;
                font-size: 4rem;
                text-shadow: 0 2px 2px var(--shadow-color);
            }

            span.quote {
                font-size: 1.2rem;
                opacity: 92.5%;
            }

            .quick-actions {
                gap: 1em;

                button {
                    --shadow-color: #4442;
                    background: #1a1a1a88;
                    padding: 10px 12px;
                    color: #fff;
                    font-family: "Inter";
                    font-size: 1rem;
                    border-radius: 5px;
                    box-shadow: 0 2px 3px 1px var(--shadow-color);
                    text-transform: capitalize;

                    &:first-child {
                        background: #24c;
                    }

                    &:hover, &:focus { background: #161616 }
                }
            }
        }

        section#carousel-demo {
            height: 90vh;
            width: 100%;
            --c1: #555; --c2: #222;
            background: radial-gradient(circle at 80%, var(--c1) 0%, var(--c2) 66%);

            > div { height: 100% }

            .content {
                width: calc(30%);
                min-width: 200px;
                color: #eee;

                h3 {
                    font-size: 3rem;
                    font-weight: 400;
                }
            }

            .carousel {
                max-width: 700px;
                width: calc(60%);
                min-width: 250px;

                .carousel-demo {
                    width: 100%;
                    min-height: 100px;
                    height: 50%;

                    .content {
                        width: 80%;
                        height: 80%;
                        max-width: calc(100% - 50px);
                        border-radius: 10px;
                        background: #f6f6f6;
                        border-radius: 1px solid #ddd;
                        box-shadow: 4px 4px 8px #24c2,
                                    0 0 10px #fff2,
                                    inset 5px 5px 1em #fff;
                        color: #000;
                    }
                }
            }
        }
    }

    &.light {
        --header-shadow-color: #2223;

        main {
            section#presentation {
                color: #222;
                background: #eee;

                h1 { --shadow-color: #2224 }
                .quick-actions button { --shadow-color: #2223 }
            }

            section#carousel-demo {
                --c1: #bbb; --c2: #eee;
                .content { color: #000 }
            }
        }
    }
}
