# VSCode
.vscode

# NPM
.npmrc
.npmignore
node_modules/

# gitignore
.gitignore

# ESlint
.eslint
.eslintignore

# Prettier
.prettierrc
.prettierignore

# Dir
build/*.html
build/*.scss
docs/
src/

# TypeScript config
tsconfig.json

# SASS files and maps
assets/*.scss
assets/*.map
assets/*.css
