* {
    scroll-behavior: smooth;
}

.flexcards__wrapper {
    position: relative !important;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    // Min sizes

    .flexcards__container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;

        .flexcards__content {
            display: flex;
            width: 100%;
            height: 100%;
            z-index: 1;
            overflow: hidden;
            scroll-behavior: auto;

            .flexcards__card {
                position: relative;
                min-width: 100%;
                width: 100%;
                height: 100%;
                overflow: hidden;

                // animation
            }
        }

        .flexcards__arrow {
            position: absolute;
            background: transparent;
            height: 100%;
            width: 30px;
            cursor: pointer;
            z-index: 2;
            outline: none;
            border: none;
            transform: none;
            transition: all .2s ease;

            .flexcards__carret {
                position: relative;
                width: 70%;
                object-fit: contain;
                pointer-events: none;
            }

            &.left {
                left: 0;
                img { transform: rotate(.5turn) }
            }

            &.right {
                right: 0;
                img { transform: translateX(.5px) }
            }

            &:hover, &:focus { transform: scale(107%) }
        }
    }

    .flexcards__index {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 20px;
        min-width: 29px; // 2*12 + 5
        padding: 1px 5px;
        bottom: 5px;
        gap: 5px;
        z-index: 2;

        .flexcards__point {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #bbb;
            transition: all .2s;

            &.current { background: #888 }
        }
    }
}
