.flexcards__wrapper {
    position: relative !important;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    user-select: none;

    .flexcards__container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;

        .flexcards__timer {
            display: block;
            position: absolute;
            width: 100%;
            height: 5px;
            z-index: 2;
            top: 0;

            &::before, &::after {
                content: "";
                display: block;
                position: absolute;
                height: 5px;
                z-index: 2;
                top: 0;
                background: var(--theme);
            }

            &::before {
                width: 100%;
                opacity: .4;
            }

            &::after {
                transition: all linear;
                width: calc(var(--size) * .5%);
                opacity: .75;
            }
        }

        .flexcards__content {
            display: flex;
            width: 100%;
            height: 100%;
            z-index: 1;
            overflow: scroll hidden;
            scroll-behavior: auto;

            .flexcards__card {
                position: relative;
                min-width: 100%;
                width: 100%;
                height: 100%;
                overflow: hidden;
                user-select: inherit;

                &.flexcards__image {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    object-fit: cover;
                    user-select: none;
                }
            }

            &::-webkit-scrollbar {
                appearance: none;
                display: none;
            }
        }

        .flexcards__arrow {
            position: absolute;
            background: transparent;
            height: 100%;
            width: 30px;
            cursor: pointer;
            z-index: 2;
            outline: none;
            border: none;
            transform: none;
            transition: all .2s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .flexcards__carret {
                position: relative;
                width: 21px;
                object-fit: contain;
                pointer-events: none;
                display: block;
            }

            &.left {
                left: 0;
                img { transform: scaleX(-1) }
            }

            &.right { right: 0 }
            &:hover, &:focus { transform: scale(107%) }
        }
    }

    .flexcards__index {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 20px;
        min-width: 29px;
        padding: 1px 5px;
        bottom: 5px;
        gap: 5px;
        z-index: 2;
        color: var(--theme);

        .flexcards__dot {
            width: 12px;
            height: 12px;
            border-radius: 60%;
            background: var(--theme);
            transition: all .2s;
            cursor: pointer;
            opacity: .4;

            &:hover { opacity: 65% }
            &.current { opacity: 75% }
        }

        .flexcards__count, .flexcards__limit { pointer-events: none }
    }
}
