.flexcards__wrapper {
  position: relative !important;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.flexcards__wrapper .flexcards__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.flexcards__wrapper .flexcards__container .flexcards__timer {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  z-index: 2;
  top: 0;
}
.flexcards__wrapper .flexcards__container .flexcards__timer::before, .flexcards__wrapper .flexcards__container .flexcards__timer::after {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  z-index: 2;
  top: 0;
  background: var(--theme);
}
.flexcards__wrapper .flexcards__container .flexcards__timer::before {
  width: 100%;
  opacity: 0.4;
}
.flexcards__wrapper .flexcards__container .flexcards__timer::after {
  transition: all linear;
  width: calc(var(--size) * 0.5%);
  opacity: 0.75;
}
.flexcards__wrapper .flexcards__container .flexcards__content {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: scroll hidden;
  scroll-behavior: auto;
}
.flexcards__wrapper .flexcards__container .flexcards__content .flexcards__card {
  position: relative;
  min-width: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: inherit;
     -moz-user-select: inherit;
          user-select: inherit;
}
.flexcards__wrapper .flexcards__container .flexcards__content .flexcards__card.flexcards__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.flexcards__wrapper .flexcards__container .flexcards__content::-webkit-scrollbar {
  -webkit-appearance: none;
          appearance: none;
  display: none;
}
.flexcards__wrapper .flexcards__container .flexcards__arrow {
  position: absolute;
  background: transparent;
  height: 100%;
  width: 30px;
  cursor: pointer;
  z-index: 2;
  outline: none;
  border: none;
  transform: none;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flexcards__wrapper .flexcards__container .flexcards__arrow .flexcards__carret {
  position: relative;
  width: 21px;
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
  display: block;
}
.flexcards__wrapper .flexcards__container .flexcards__arrow.left {
  left: 0;
}
.flexcards__wrapper .flexcards__container .flexcards__arrow.left img {
  transform: scaleX(-1);
}
.flexcards__wrapper .flexcards__container .flexcards__arrow.right {
  right: 0;
}
.flexcards__wrapper .flexcards__container .flexcards__arrow:hover, .flexcards__wrapper .flexcards__container .flexcards__arrow:focus {
  transform: scale(107%);
}
.flexcards__wrapper .flexcards__index {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 20px;
  min-width: 29px;
  padding: 1px 5px;
  bottom: 5px;
  gap: 5px;
  z-index: 2;
  color: var(--theme);
}
.flexcards__wrapper .flexcards__index .flexcards__dot {
  width: 12px;
  height: 12px;
  border-radius: 60%;
  background: var(--theme);
  transition: all 0.2s;
  cursor: pointer;
  opacity: 0.4;
}
.flexcards__wrapper .flexcards__index .flexcards__dot:hover {
  opacity: 65%;
}
.flexcards__wrapper .flexcards__index .flexcards__dot.current {
  opacity: 75%;
}
.flexcards__wrapper .flexcards__index .flexcards__count, .flexcards__wrapper .flexcards__index .flexcards__limit {
  pointer-events: none;
}/*# sourceMappingURL=index.css.map */